<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
<!--    <th>Web address</th>
    <th>User name</th>
    <th>Password digest</th> -->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.available_balance %></td>
    <td><%= account.final_balance %></td>
<!--    <td><%= account.web_address %></td>
    <td><%= account.user_name %></td>
    <td><%= account.password_digest %></td> -->
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
