<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<%= render @account %>

<%= link_to 'New Transaction', new_transaction_path(@account) %> 
<%= link_to 'Edit', edit_account_path(@account) %> 
<%= link_to 'Back', accounts_path %>

