<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<!-- do not show for now.
<p>
  <b>Web address:</b>
  <%= @account.web_address %>
</p>

<p>
  <b>User name:</b>
  <%= @account.user_name %>
</p>

<p>
  <b>Password digest:</b>
  <%= @account.password_digest %>
</p>
-->

<ul>
<% @account.transactions.each do |transaction| %>
	<li><%= transaction.description %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
